/*
 * Copyright (c) 2025 Analog Devices, Inc.
 *
 * SPDX-License-Identifier: MIT
 */

//TODO - to be changed after usb class implemented in zephyr

/* / {
	chosen {
		iio,iiod-usb = &uart0;
	};
}; */
